@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}



/* ====== typography  ======*/

h1 {
    color: grey;
    position: center;
    font-family: "Lobster 1.4", sans-serif;
    font-size: 5em;
    text-align: left;
    padding-left: 2rem;
}



nav u1{
    margin: 0;
    padding: 0;
    list-style: right none;
}

nav li {
    display: inline-block;
    margin: 5px;
    padding: 1em;

}
nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;

}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.6;
    padding: 5em;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}



.description {
    background-image:
            url("../lol/lol_img/Background_white_overlay.jpg");
    padding: 7em ;
    font-weight: 400;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.normal{
    text-align: left;
    margin: 2rem;
    box-shadow: 2px 2px 2px grey;
}

.pink{
    color: pink;

}


/* ====== buttons  ======*/
.button{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em; /*TB LR*/
}

.button-accent {
    color: black;
    border-color: black;
}

.button-accent:hover,
.button-accent:focus {
    background: white;
    color: black;
    border-color: white;
}

.unstyled-list {
    text-align: right;
}

/* ====== mobile  ======*/

@media screen and (max-width: 599px) {

    h1 {
        text-align: center;
        font-size: 3em;
    }
    body {
        font-size: 0.7rem;
    }
    nav {
        list-style-position: center;
    }

    .unstyled-list {
        text-align:  center;
    }

    .description {
        font-size: 0.7rem;
    }

    .button {
        font-size: 0.7rem;
        border-width: 1.2px;
    }

    .go{
        padding: 1em ;
    }

}
